.search-view-element {
  margin: 10px;
}

.search-view-element-header {
  text-align: left;
}

.search-view-element-content {
  text-align: left;
  margin-left: 5%;
}

.search-view-element span {
  background-color: #FFFFCC;
  font-weight: bold;
  padding: 1px;
}

.search-view-failed {
  margin: 10px;
}

.search-view-failed-title {
  text-align: left;
  font-size: large;
  margin: 10px;
}

.search-view-failed-description {
  text-align: left;
  margin-left: 10px;
}