@import "src/shared/styles/helpers/variables";

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  width: 50%;
  @media screen and (max-width: $x-medium-screen) {
    font-size: medium;
    width: 70%;
  }
  @media screen and (max-width: $medium-screen) {
    font-size: small;
    width: 80%;
  }
  @media screen and (max-width: $small-screen) {
    font-size: 7px;
    width: 100%;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  background: $main-color;
}

.page-content {
  width: 80%;
}
