@import "src/shared/styles/helpers/variables";

.history-page {
  font-weight: normal;
}

.history-page-title {
  font-size: large;
  padding: 10px;
  border-bottom: 1px solid $accent-color;
}

.history-page-paragraph {
  margin: 15px 5px 15px 5px;
  text-align: left;
}