@import "../../../../styles/helpers/variables";

.header-button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: solid $accent-color 1px;
    justify-content: space-between;
    transition: all 0.5s;
    background: $accent-color;
}

.header-nav .selected {
    background: $main-color;
    color: $text-main-color;
    transition: all 0.5s;
}

.header-button:hover {
    background: $main-color;
    transition: all 0.5s;
}

.header-button-icon {
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: $text-accent-color;
}

header {
    background: $main-color;
}

header a:hover {
    color: $text-main-color;
}