@import "src/shared/styles/helpers/variables";

.image-gallery {
  display: flex;
  flex: 1;
  margin: 10px 10%;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.image-gallery img {
  flex: 0 0 31%;
  width: 100%;
  border: 1px solid $accent-color;
}