$border-color: #575855;

$main-color: #EAECEB;
$accent-color: #575855;
$text-main-color: #575855;
$text-accent-color: white;
$background-main-color: white;
$background-accent-color: #EAECEB;

$x-medium-screen: 1500px;
$medium-screen: 1080px;
$small-screen: 700px;